@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Besley", serif;
  text-decoration: none;
  border: none;
  outline: none;
  transition: 0.1s linear all;
}
*::selection {
  background: var(--main);
  color: #000;
}
:root {
  --main: #ff0019;
  --box_shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
  --border: 0.2rem solid rgba(0, 0, 0, 0.5);
}
html {
  font-size: 62.5%;
}

/* Header/Navbar Start */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 9%;
  box-shadow: var(--box_shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #fff;
}
header .logo {
  font-size: 2.5rem;
  color: #000;
  margin: 0 1rem;
}
header .logo span {
  color: var(--main);
  font-weight: 600;
}
.navbar a {
  color: #000;
  font-size: 1.7rem;
  margin: 0 1rem;
}
.navbar a:hover {
  color: var(--main);
}
.btn {
  background: var(--main);
  padding: 0.8rem 3rem;
  color: #fff;
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 500;
  border-radius: 0.5rem;
  text-align: center;
}
#MenuBar {
  color: var(--main);
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
}
/* Header/Navbar End */
section {
  padding: 2rem 9%;
}
/* Home Section Start */
.home {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(8, 71, 218, 0.8));
  padding-top: 10rem;
  text-align: center;
}
.home h3 {
  font-size: 7.5vw;
  text-transform: uppercase;
}
.home img {
  width: 100%;
  margin-top: -20rem;
}
/* Home Section End */

/* Media Query */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #MenuBar {
    display: initial;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border: var(--border);
    background: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  header .navbar a {
    display: block;
    margin: 2rem;
    background: #ccc;
    font-size: 2rem;
    padding: 1rem;
  }
  .home img {
    margin-top: -10rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
